  body {
      font-family: "encode_sans_condensedregular", "Helvetica", Helvetica, Arial, sans-serif;
 	  font-weight: normal;
      color: #fff;
      font-size: 15px;
      line-height: 2em;
  }

  .container {
      padding: 80px 120px;
  }

  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
	
	.nav-tabs {
		padding: 20px 0;
	}
	
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  #demo p, #demo2 p, #demo3 p{
  	letter-spacing: 1px;
  	text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }


@font-face {
  font-family: 'encode_sans_condensedlight';
  src: url("../fonts/encodesanscondensed-300-light-webfont.eot");
  src: url("../fonts/encodesanscondensed-300-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/encodesanscondensed-300-light-webfont.woff") format("woff"), url("../fonts/encodesanscondensed-300-light-webfont.ttf") format("truetype"), url("../fonts/encodesanscondensed-300-light-webfont.svg#encode_sans_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_condensedregular';
  src: url("../fonts/encodesanscondensed-400-regular-webfont.eot");
  src: url("../fonts/encodesanscondensed-400-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/encodesanscondensed-400-regular-webfont.woff") format("woff"), url("../fonts/encodesanscondensed-400-regular-webfont.ttf") format("truetype"), url("../fonts/encodesanscondensed-400-regular-webfont.svg#encode_sans_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_condensedmedium';
  src: url("../fonts/encodesanscondensed-500-medium-webfont.eot");
  src: url("../fonts/encodesanscondensed-500-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/encodesanscondensed-500-medium-webfont.woff") format("woff"), url("../fonts/encodesanscondensed-500-medium-webfont.ttf") format("truetype"), url("../fonts/encodesanscondensed-500-medium-webfont.svg#encode_sans_condensedmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_condensedsemibold';
  src: url("../fonts/encodesanscondensed-600-semibold-webfont.eot");
  src: url("../fonts/encodesanscondensed-600-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/encodesanscondensed-600-semibold-webfont.woff") format("woff"), url("../fonts/encodesanscondensed-600-semibold-webfont.ttf") format("truetype"), url("../fonts/encodesanscondensed-600-semibold-webfont.svg#encode_sans_condensedsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_condensedbold';
  src: url("../fonts/encodesanscondensed-700-bold-webfont.eot");
  src: url("../fonts/encodesanscondensed-700-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/encodesanscondensed-700-bold-webfont.woff") format("woff"), url("../fonts/encodesanscondensed-700-bold-webfont.ttf") format("truetype"), url("../fonts/encodesanscondensed-700-bold-webfont.svg#encode_sans_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 59, ../scss/_custom.scss */
hr {
  text-align: center;
  margin: 0 auto;
  opacity: 0.5;
}

/* line 60, ../scss/_custom.scss */
ul {
  text-transform: uppercase;
}

/* line 61, ../scss/_custom.scss */
ul.inline-list.right {
  text-transform: none;
}

/* line 62, ../scss/_custom.scss */
ul.inline-list.right a {
  color: #000;
}

/* line 63, ../scss/_custom.scss */
ul.inline-list.right a:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* line 64, ../scss/_custom.scss */
.columns.large-centered {
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 40em) {
  /* line 65, ../scss/_custom.scss */
  .columns.large-centered {
    font-size: 13px;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 65, ../scss/_custom.scss */
  .columns.large-centered {
    font-size: 14px;
  }
}
/* line 66, ../scss/_custom.scss */
.about-box {
  color: #fff;
}

/* line 67, ../scss/_custom.scss */
.black-box {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 35px;
  font-weight: 900;
}

/* line 68, ../scss/_custom.scss */
.black-box p {
  font-weight: 900;
}

/* line 69, ../scss/_custom.scss */
.secondary.small.button {
  background-color: transparent;
  color: #fff;
  border: 2px #fff solid;
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  margin: 0;
}

/* line 70, ../scss/_custom.scss */
.secondary.small.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 71, ../scss/_custom.scss */
.row .main-wrapper {
  color: #fff;
}

/* line 72, ../scss/_custom.scss */
.about-content {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* line 73, ../scss/_custom.scss */
.button-group li .button {
  border: 0 !important;
}

/* line 74, ../scss/_custom.scss */
.button {
  -webkit-appearance: none;
  background-color: transparent;
  border-width: 0;
  text-align: center;
  box-shadow: 0 0 0;
}

/* line 75, ../scss/_custom.scss */
.button:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
}

/* line 75, ../scss/_custom.scss */
footer p, footer a {
  font-size: 14px;
}

/* line 77, ../scss/_custom.scss */
.hero {
  /*padding-bottom: 29%;*/
  background-image: url("../img/wavecrashWide.jpg");
  /*background-size: cover;*/
  /*box-shadow:inset 0px 0px 0 2000px rgba(0,0,0,0.2);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* line 78, ../scss/_custom.scss */
.hero-second {
  background-image: url("../img/desertWide.jpg");
  background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* line 79, ../scss/_custom.scss */
.hero-third {
  /* background-image: url("../img/beachWide.jpg");
  background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%; */
  background-color: #fff;
  color:#2d2d30;
  padding-bottom: 5%;
}

/* line 80, ../scss/_custom.scss */
.hero-contact {
  background-image: url("../img/sunsetWide.jpg");
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.2);
  background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* line 81, ../scss/_custom.scss */
.hero-content {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #EAEAEA;
}

/* line 83, ../scss/_custom.scss */
.panel {
  margin: 40px 0 40px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #EAEAEA;
}

/* line 84, ../scss/_custom.scss */
.large-4 img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* line 85, ../scss/_custom.scss */
.radius.right.button {
  color: #000;
  border: 2px #000 solid;
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  margin: 0;
  font-size: 0.8125em;
}

@media only screen and (min-width: 64.063em) {
  /* line 86, ../scss/_custom.scss */
  .radius.right.button {
    color: #000;
    border: 2px #000 solid;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin-top: 25px;
    font-size: 0.8125em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 86, ../scss/_custom.scss */
  .radius.right.button {
    color: #000;
    border: 2px #000 solid;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin-top: 25px;
    font-size: 0.8125em;
  }
}
/* line 86, ../scss/_custom.scss */
.radius.right.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 88, ../scss/_custom.scss */
.text-shadow {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}

/* line 92, ../scss/_custom.scss */
header h2 {
  text-transform: uppercase;
}

/* line 96, ../scss/_custom.scss */
.wrap {
  width: 100%;
  padding-bottom: 25%;
  background: url("../img/wavecrashWide.jpg") no-repeat black;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* line 104, ../scss/_custom.scss */
.skillswrap {
  /* width: 100%;
  padding-bottom: 25%;
  background: url("../img/desertWide.jpg") no-repeat black;
  background-size: cover;
  background-position: center; 
  
  background-color: #2d2d30;
  color: #f5f5f5; 
  padding-bottom: 5%; */
  
  	width: 100%;
    padding-bottom: 10%;
  	background: url("../img/antiguaWide.jpg") no-repeat;
  	background-size: cover;
  	background-position: center center;
  	background-attachment: fixed;
}

/* line 113, ../scss/_custom.scss */
.expwrap {
  background-color: #fff;
  color:#2d2d30;
  padding-bottom: 5%;
 /*  width: 100%;
  padding-bottom: 25%;
  background: url("../img/antiguaWide.jpg") no-repeat black;
  background-size: cover;
  background-position: center; */
}

/* line 121, ../scss/_custom.scss */
.contactwrap {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding-bottom: 5%;

}

#work, #skills, #exp, #contact {
  	padding-top: 30px; 
}

/* line 130, ../scss/_custom.scss */
.name {
  margin-top: 20%;
  text-transform: uppercase;
}

/* line 134, ../scss/_custom.scss */
.testimonialwrap {
  background: black;
  /* The Fallback */
  background: rgba(231, 76, 60, 0.7);
}

/* line 139, ../scss/_custom.scss */
.testimonial {
  background: none;
  padding: 7% 0 7%;
  position: relative;
  color: #fff;
}

/* line 146, ../scss/_custom.scss */
.testimonial p {
  font-size: 1.2em;
}


.list-group-item {
	border: 0;
}

h1 {
  font-size: 5.375rem;
  /* -webkit-transform: translateZ(0.2px) scale(0.8);
  transform: translateZ(0.2px) scale(0.8); */
  z-index: 200;
  font-family: 'encode_sans_condensedsemibold';
}

h2 {
  font-size: 4.1875rem;
  font-family: 'encode_sans_condensedsemibold';
}

h3 {
  font-size: 2.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}