/* Foundation overrides */

body {
	margin: 0;
}

.top-bar {
 background-color: #000;
 width: 100% !important;
 margin-top: 0 !important;
 padding: 0;
 height: 47px;
 position: fixed;
 z-index: 999;
}

.top-bar img {
    width: 200px;
}

.top-bar ul {
	background-color: #000;
}

.top-bar ul li {
	font-size: 13px;
}

.top-bar a {
    color: #fff;
}

.title-bar {
	/* position: fixed;
	width: 100%;
	z-index: 1000; */
}


.callout {
	border: 0;
}

.flex-video {
	padding-bottom: 56%;
}

.button {
	background-color: #F04016;
	text-transform: uppercase;
	font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.button:focus, .button:hover {
	background-color: #D8001A;
}

.button.large {
    font-size: 1.2rem;
}

.callout.secondary {
    background-color: #000;
    margin: 0;
    color: #fff;
}

.callout.primary {
    background-color: #e50079;
    margin: 0;
    color: #fff;
}

img {
	width: 100%;
	
}

/* .row.expanded {
    max-width: 100%;
} */

.dropdown-pane {
	width: 100%;
}

.fa {
 color: #fff;
 font-size: x-large;
}

.tabs {
	background-color: #fff;
}

.tabs, .tabs-content {
    border: medium none;
}

.tabs-title {
	width: 50%;
}

.tabs-title > a {
	color: #000;
}

.is-active > a {
	color: #fff;
}

.tabs-title > a {
	text-transform: uppercase;
	font-family: 'Open Sans Condensed',Helvetica,Arial,sans-serif;
    font-weight: 700;
	font-size: 24px;
	text-align: center;
}

.rmpad > a {
	padding: .35rem 1.5rem !important;
}

.tabs-title > a span {
	font-size: 15px;
}

.owl-theme .owl-nav [class*="owl-"] {
	background-color: #fff;
	color: #777;
	font-weight: bold;
}

.owl-theme .owl-dots .owl-dot span {
	background-color: #000;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

/* Moving Nav Buttons to the side of slides */ 

.owl-carousel {
position: relative;
}
.owl-prev,
.owl-next {
position: absolute;
top: 50%;
margin-top: -10px; 
}
.owl-prev {
left: 0;
}
.owl-next {
right: 0;
}

.owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1%;
	margin-left: auto;
 	margin-right: auto;
	max-width: 100%;
}

/* End Nav Buttons to the side of slides */ 


.shopCTA {
	color: #ccc;
    font-family: open sans condensed;
    font-size: 1.2rem;
    font-weight: bold;
    left: 0;
    margin-left: 7%;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 32%;
    z-index: 998;
    
}

.shopCTA span {
	background-color: #fff;
    padding: 10px;
    color: #888;
    border:1px solid #888;
}

.shopCTA a span {
	color: #888;
}

.shopCTA span:hover {
background:#333;
color:#fff;
    border:1px solid #333;
	}

video {
  /* transform-origin: 20% 50%;
  -webkit-transform-orgin: 20% 50%;*/
  display: block;
  font-size: 0;
} 

.flex-video {
margin-bottom:0;
}

.large-up-4 .column {padding:.1rem;}

/* audio, video {
	display: block;
	font-size: 0;
} */

h1, h2, h3, h4, h6 {
    font-family: 'Open Sans Condensed',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.4rem;
}

h5 {
	font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 25px;
    text-transform: uppercase;
}

dl, ol, ul {
    list-style-position: inside;
}

/* End Foundation overrides */



/* Custom Styles */ 

/* Parallax */
.parallax [class*="bg__"] {
  position: relative;
  height: 800px;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.parallax .bg__foo, .parallax .bg__bazz {
  /* height: 100vh; */
}

.parallax .bg__inner {
  background-image: url("../img/copa-paralax.jpg");
}

/* end Parallax */


.logosize {
    width: 160px;
}

.footmarg {
padding-bottom:4em;
}

.sliderMarg {
	margin: 10% 0 0 0;
}

.exmarg {
margin:3% 0 3% 0;
}


.extop {
margin:3% 0 0 0;
}

.exbot {
margin:0 0 5% 0;
}

.bordered {
border: 1px solid transparent;
}

.red {
	background-color: #611729;
	color: #f200f7;
}

.red p, .red h2 {
	padding: 0 20px 0 20px;
}


#slideSuperfly {
	background-color: #e50079; 
	color: #fff;
}

#slideVapor	{
	background-color: #f4e500;
	color: #000;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
	background-color: #BBBBBB;
}


.tabs-panel {
 padding: 0;
 margin: 0;
}


hr.styleone {
	border-top: 1px dotted #333;
}

.trickshero {
	position: relative;
}

.loud {
	bottom: 24%;
    left: 11%;
    position: absolute;
    width: 80%;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.tricks-trans {
	position: absolute;
	top: 80%;
}


/* #owl-five img{
 min-width: 500px;
} */

.float-text {
	 bottom: 5%;
    position: absolute;
    right: 32.4%;
    width: 35%;
}

.gray {
	background-color: #f3f3f6;
}

#panelSuperfly p, #panelVapor p {
	margin-bottom: 0;
}

#panelSuperfly .button, #panelVapor .button {
	margin-bottom: 0;
}


.bottomrow a:hover{
	opacity: 0.7;
	-webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
     -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
}


.image-wrapper {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  /* border-radius: 4px; */ }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  transition: all 0.2s linear; }
.overlay-fade-in img {
  transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }
.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.5rem;
  margin-top: 20%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }
.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; }
.overlay-fade-in:hover img {
  transform: scale(1.2); }
.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }
.overlay-fade-in:hover p {
  transition-delay: 0.1s; }
.overlay-fade-in:hover .button {
  transition-delay: 0.2s; }


#fixedBar {
    background: #000;
    height: 54px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#fixedBar img {
    margin: 12px;
    width: 260px;
    display: inline;
}


/* End Custom Styles */ 